<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.CenterNoticeMapper">
	<sql id="search">
		<if test="searchType != null and searchType == 't'.toString()">
			and n.title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType != null and searchType == 'c'.toString()">
			and n.content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType != null and searchType == 'w'.toString()">
			and m.name like '%'||#{keyword}||'%' 
		</if>
		<if test="searchType != null and searchType == 'tc'.toString()">
			and (
				n.title like '%'||#{keyword}||'%'
				or 
				n.content like '%'||#{keyword}||'%'
			)
		</if>
	</sql>
	
	<select id="selectNoticeList" resultType="NoticeVO">
		select n.*, m.* from notice n , manager m
		where n.manid = m.manid
		<include refid="search"/>
		order by n.regDate desc
	</select>
	
	<select id="selectNoticeListCount" resultType="int">
		select count(*) from notice n, manager m
		where n.manid = m.manid
		<include refid="search"/>
	</select>
	
	<select id="selectNoticeByNno" resultType="NoticeVO">
		select n.*, m.* from notice n, manager m
		where n.nno = #{nno}
		and n.manid = m.manid
	</select>
</mapper>