<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.ManagerMapper">
	<select id="getManagerByLoginId" resultType="ManagerVO">
		SELECT *
		FROM manager
		WHERE manid = #{id}
	</select>
	<select id="selectManagerById" resultType="ManagerVO">
		SELECT *
		FROM manager
		WHERE manid = #{id}
	</select>
</mapper>